body{
    background-image: url(../imagem/fundo.jpg);
}
.menu{
    background-color: #88d2ec;
    border: purple 10px double;
    text-align: center;
    padding: 5px;
}

.item_menu{
    display: inline;
    margin: 0 50px 0 50px;
}

.link_menu{
    top: 30px;
    text-decoration: none;
    color: white;
    text-shadow: purple 0.1em 0.1em 0.2em;
    font-size: 30px;
}

.link_menu:hover{
    color: purple;
    text-shadow: white 0.1em 0.1em 0.2em;
}

.rodape{ 
    position: fixed;
    background-color: #88d2ec;
    text-align: center;
    border: purple 2px double;
    font-size: 20px;
    text-shadow: lightpink 0.1em 0.1em 0.2em;
    width: 100%; 
    bottom: 0;
}


@media screen and (max-width: 768px){

    .principal{
        margin-top: 10%;
    }
    .link_menu:hover{
        color: purple;
        text-shadow: white 0.1em 0.1em 0.2em;
    }

    .menu{
        text-align: center;
        font-size: 20px;
        background-color: #88d2ec;
        border: purple 10px double;
        width: 100%;
    }
    
    .item_menu{
        display: static;
        margin: 0 80px 0 80px;
        border-width: 2px;
    }
    
    .link_menu{
        position: static;
        top: 20px;
        font-size: 30px;
        text-decoration: none;
        text-shadow: purple 0.1em 0.1em 0.2em;
        color: white;
    }
    .rodape{
        margin-top: 10px;
        width: 107.2%;
        height: 2.7%;
        bottom: 0;
    }   
}